body {
  padding-top: 56px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.row {
  display: flex;
  padding: auto;
}

.img-column {
  flex: 33.33%;
  padding: 5px;
}

.link-column {
  padding: 5px;
}

.img-hundo {
  width: 100%;
}

.img-center {
  display: block;
  margin: 0 auto;
  padding: 15px;
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

@media(max-width: 1333px) {
  .img-column {
    flex-basis: 33%;
  }

}

@media(max-width: 1073px) {
   .img-column {
    flex-basis: 33%;
  }

}

@media(max-width: 815px) {
  .img-column {
    flex-basis: 50%;
  }

}

@media(max-width: 555px) {
  .img-column {
    flex-basis: 100%;
  }

}